html{
    height: 100vh;
    width: 100vw;
}

body{
    position: relative;
	width: 98%;
	min-width: 1000px;
	max-width: 1400px;
}

canvas {
    position: relative;
    float: left;
    clear: left;
}

/* button {
    position: relative;
    float: left;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    height: 45px;
    width: 85px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

button:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

button:active {
	background-color: black;
}

button:focus {
	outline: none;
} */

input,
select {
	transition-property: background-color opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.3);
	height: 45px;
	width: 150px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	color: white;
	float: left;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
    appearance: none;
    margin-left: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 125px center;
}

input:hover,
  select:hover {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-appearance: none;
    -moz-appearance: none;
}
select:hover {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 125px center;
}
input:active,
  select:active {
    background-color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:active {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 125px center;
}

input:focus,
  select:focus {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:focus {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 125px center;
}


aside {
    position: relative;
    float: left;
}

p {
    text-align: left;
    font-size: 25px;
}

#gradient {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
